body {
	background: Canvas;
	color: CanvasText;
	color-scheme: dark light;
	display: grid;
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	font-weight: normal;
	justify-content: center;
	line-height: 1.5;
	margin-inline: auto;
	max-inline-size: 70ch;
	padding-inline: 2ch;
}
a { color: inherit; }
h1 { 
	font-size: 3em;
	line-height: 1.1;
}
h1, h3 { margin: 0; }
hr {
	border: none;
	border-block-end: 1px solid GrayText;
	width: 100%;
}
img {
	border-radius: 50%;
	border: 1px solid GrayText;
}
ol {
	margin: 0;
	padding: 0;
	& > li { 
		border-block-end: 1px solid GrayText;
		list-style: none;
		padding-block: 1ch;
		&::before { 
			background-color: ButtonFace;
			content: attr(data-label);
			display: inline-block;
			margin: 0 1ch 0 0;
			padding: .5ch 1ch;
		}
	}
}